*,
*:after,
*:before{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #292B58;
    
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

img{
    pointer-events: none;
}

.container{
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
}

.text{
    ont-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.header{
    background-image: url(../img/header-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    position: relative;
    overflow: hidden;
}

.img-1{
    position: absolute;
    bottom: -1px;
    width: 100%;
    z-index: 5;
}

.img-2{
    position: absolute;
    bottom: 60px;
    width: 100%;
    z-index: 4;
}

.img-3{
    position: absolute;
    bottom: 120px;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    z-index: 3;
}

.img-4{
    position: absolute;
    bottom: 40px;
    z-index: 2;
    left: 50%;
    margin-left: -199.5px;
}

.img-5{
    position: absolute;
    top: 0;
    width: 100%;
}

.header__top{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    gap: 100px;
    list-style-type: none;
}

.nav__item{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
}

.header__btn{
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 7px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
}

.header__content{
    width: 780px;
    margin: 160px auto 0;
}

.header__title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
    text-align: center;
}

.about__title-box,
.program__title-box,
.rate__title-box,
.faq__title-box{
    overflow: hidden;
    height: 45px;
    margin-bottom: 30px;
}

.header__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}

.about{
    padding: 30px 0 50px;
    display: flex;
    gap: 20px;
}

.program__content{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.program__list{
    list-style-type: none;
    display: flex;
    gap: 160px;
}

.program__list--1{
    margin-left: 65px;
}

.program__list--2{
    margin-left: auto;
}

.program__item{
    max-width: 260px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
}

.program__item::after{
    position: absolute;
    width: 48px;
    height: 48px;
    color: #AC4858;
    font-family: 'Microsoft YaHei';
    font-size: 30px;
    font-weight: 400;
    border: 2px solid #AC4858;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -65px;
    top: -10px;
}

.program__item--1::after{
    content: '1';
}

.program__item--2::after{
    content: '2';
}

.program__item--3::after{
    content: '3';
}

.program__item--4::after{
    content: '6';
}

.program__item--5::after{
 content: '5';
}

.program__item--6::after{
    content: '4';
}

.program__arrow{
    position: absolute;
}

.program__arrow--1{
    right: -55px;
    bottom: -5px;
}

.program__arrow--1,
.program__arrow--2,
.program__arrow--4,
.program__arrow--5{
    stroke-dashoffset: -138px;
    stroke-dasharray: 500px;
}

.program__arrow--1.show,
.program__arrow--2.show,
.program__arrow--4.show,
.program__arrow--5.show{
    animation: arrowAnim1 3s ease-in-out;
    animation-fill-mode: forwards;
}
.program__arrow--3.show{
    animation: arrowAnim2 3s ease-in-out;
    animation-fill-mode: forwards;
}
.program__arrow--6.show{
    animation: arrowAnim3 3s ease-in-out;
    animation-fill-mode: forwards;
}

.program__arrow--2{
    right: -82px;
    top: -15px;
    transform: scale(1, -1)
}

.program__arrow--3{
    right: -80px;
    top: 30px;
    stroke-dashoffset: -191px;
    stroke-dasharray: 500px;
}

.program__arrow--4{
    transform: scale(-1, -1);
    left: -155px;
    top: -20px;
}

.program__arrow--5{
    transform: scale(-1, 1);
    left: -170px;
    bottom: -10px;
}

.program__arrow--6{
    left: -220px;
    bottom: -114px;
    stroke-dashoffset: -440px;
    stroke-dasharray: 500px;
}

.program__btn{
    width: 201px;
    height: 52px;
    background: #AC4858;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border: none;
    margin: 50px auto 0;
}

@keyframes arrowAnim1 {
    0%{
        fill: transparent;
        stroke-dasharray: 500px;
        stroke-dashoffset: -138px;
    }
    80%{
        fill: transparent;
        stroke-dasharray: 500px;
        stroke-dashoffset: 0px;
    }100%{
        fill: white;
        stroke-dasharray: 500px;
        stroke-dashoffset: 0px;
    }
}

@keyframes arrowAnim2 {
    0%{
        fill: transparent;
        stroke-dasharray: 500px;
        stroke-dashoffset: -191px;
    }
    80%{
        fill: transparent;
        stroke-dasharray: 500px;
        stroke-dashoffset: 0px;
    }100%{
        fill: white;
        stroke-dasharray: 500px;
        stroke-dashoffset: 0px;
    }
}

@keyframes arrowAnim3 {
    0%{
        fill: transparent;
        stroke-dasharray: 500px;
        stroke-dashoffset: -440px;
    }
    80%{
        fill: transparent;
        stroke-dasharray: 500px;
        stroke-dashoffset: 0px;
    }100%{
        fill: white;
        stroke-dasharray: 500px;
        stroke-dashoffset: 0px;
    }
}

.rate{
    padding: 70px 0 0;
}

.rate__items{
    display: flex;
    justify-content: space-between;
    
}

.rate__item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.rate__item-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    max-width: 340px;
}

.rate__list{
    list-style-type: none;
    width: 360px;
    height: 428px;
    padding: 20px 20px 20px 40px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

.rate__list-item{
    position: relative;
}

.rate__list-item::before{
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: -20px;
    top: 1px;
    background-image: url(../img/mark.svg);
}

.rate__list-item--opacity::before{
    background-image: url(../img/markDark.svg);
}

.rate__list-item--bold{
    font-weight: 600;
}

.rate__list-item--bold::before{
    background-image: none;
}

.rate__btn{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;

    width: 224px;
    height: 52px;
    background: #AC4858;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.rate__list-item--opacity{
    color: rgba(255, 255, 255, 0.3);
}

.faq{
    padding-top: 70px;
}

.faq__list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    list-style-type: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.faq__item{
    padding-bottom: 8px;
    border-bottom: 1.5px solid #FFFFFF;
    position: relative;
}

.faq__item::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 9px;
    background-image: url(../img/faqMark.svg);
    right: 20px;
    bottom: 8px;
}

.footer{
    padding: 70px 0 50px
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.politic-list,
.footer__nav{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer-socials{
    display: flex;
    gap: 20px;
}